@charset "UTF-8";

:root {
  --lime-300: #BEF264;
  --lime-950: #1A2E05;
  --zinc-50: #FAFAFA;
  --zinc-100: #F4F4F5;
  --zinc-400: #A1A1AA;
  --zinc-500: #71717A;
  --zinc-700: #3F3F46;
  --zinc-800: #27272A;
  --zinc-900: #18181B;
  --zinc-950: #09090B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

html {
  background-color: var(--zinc-950);
  color: var(--zinc-50);
}

main {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
}

form {
  display: flex;
  flex-flow: column nowrap;
}

form img {
  color: var(--zinc-400);
  width: 25px;
}

div.inputDiv {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 10px;
  padding: 17px 16px;
  border: 1px solid var(--zinc-800);
  border-radius: 8px;
  margin: 8px 0;
}

div.inputDiv > input {
  background-color: var(--zinc-950);
  border: none;
  color: var(--zinc-100);
  font-size: 16px;
}

input[type='text']:focus, input[type='date']:focus, input[type='time']:focus {
  outline: none;
  background-color: var(--zinc-950);
}

input[type='date']::-webkit-calendar-picker-indicator, input[type='time']::-webkit-clock-picker-indicator {
  /* 
  display: none;
  APLICAR COR AOS ÍCONES (SE FOR REMOVIDA A OPÇÃO DE "display: none"
  */
  filter: invert(1) brightness(60%) saturate(0%) hue-rotate(0deg); 
} 

section#dataList, section#activities {
    padding: 16px;
}

section#activityList p {
    color: var(--zinc-500);
}